# Chronic Kidney Disease Prediction

In [3]:
import numpy as np
import pandas as pd
from scipy.io import arff

In [16]:
import pandas as pd

data = []
with open('./data/chronic_kidney_disease_full.arff', "r") as f:
    for line in f:
        line = line.replace('\t', '')
        data.append(line.split(','))


names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba',
         'bgr', 'bu',  'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc',
         'rbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane',
         'class', 'no_name']
    
df = pd.DataFrame(data[145:], columns=names)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      402 non-null    object
 1   bp       400 non-null    object
 2   sg       400 non-null    object
 3   al       400 non-null    object
 4   su       400 non-null    object
 5   rbc      400 non-null    object
 6   pc       400 non-null    object
 7   pcc      400 non-null    object
 8   ba       400 non-null    object
 9   bgr      400 non-null    object
 10  bu       400 non-null    object
 11  sc       400 non-null    object
 12  sod      400 non-null    object
 13  pot      400 non-null    object
 14  hemo     400 non-null    object
 15  pcv      400 non-null    object
 16  wbcc     400 non-null    object
 17  rbcc     400 non-null    object
 18  htn      400 non-null    object
 19  dm       400 non-null    object
 20  cad      400 non-null    object
 21  appet    400 non-null    object
 22  pe       400 non-null    object
 23  ane      400 non-null    object
 24  class    400 non-null    object
 25  no_name  3 non-null      object
dtypes: object(26)
memory usage: 81.8+ KB